@import url('https://fonts.cdnfonts.com/css/vic');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'VIC', sans-serif;
    font-weight: 300;

}

/* .container{
   margin-inline: auto;
    max-width: 1180px;
} */

.flex{
    display: flex;
    align-items: center;
}

.Header-section{
    text-align: center;
   background-color: black;
    justify-content: center;
    color: white;
}

.Header-section h3{
   padding: 30px;
}